{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Receta</title>
    <link rel="stylesheet" href="{% static 'css/styles_editarreceta.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Editar Receta</h1>
        </header>

        <section class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }} <!-- Mostrar el formulario -->
                <button type="submit" class="btn btn-submit">Guardar cambios</button>
            </form>
        </section>

        <section class="cancelar-container">
            <a href="{% url 'detalle_receta' pk=receta.pk %}" class="btn btn-cancel">Cancelar</a>
        </section>
    </div>
</body>
</html>
